# ===== .NET =====
# Archivos compilados y temporales de compilación
bin/
obj/
# Configuración local de Visual Studio
.vs/
*.user

# ===== Angular / Node =====
# Librerías descargadas (se reinstalan con npm install)
node_modules/
# Caché de Angular
.angular/
# Versión compilada para producción
dist/

# ===== Sistema =====
# Archivos que crean Windows y Mac en las carpetas
Thumbs.db
.DS_Store